body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
    color: #000;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.product {
    display: flex;
    background-color: #fff;
    align-items: center;
    width: 95%;
    padding: 10px 20px;  
    border: 1px solid #ddd;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.dark-mode .product {
    background-color: #555;  
    color: #fff;
}

.price, .product-name, .product-details {
    display: flex;
    align-items: center;
    height: 40px; 
    margin: 0 5px; 
    padding: 5px;  
    font-size: larger;
}

.price {
 
    text-align: left;
    width: 100px;
    margin-right: 35%;
}

.product-name {
  
    text-align: left;
    width: 200px;
    margin-right: 30%;
}

.product-details {
    
    }
